<html ng-app="myApp">
    <head>
        <title>ToDoApp</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/angular.min.js"></script>
        <script type="text/javascript" src="../scripts/myApp.js"></script>
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/Task.css">
    </head>

    <body>
        <div id="top_bar">
            <h1 style="text-align: center;">Task Manager</h1> 
        </div>
        <div ng-controller="TaskController as taskCtrl">
            <div class="col-md-2 left_panel"> 
                <section ng-init="tab = 1">
                    <ul id="top_filters">
                        <li class="filter"><a href ng-click="tab=1">All Tasks</a></li>
                        <li class="filter"><a href ng-click="tab=2">Completed Tasks</a></li>
                        <li class="filter"><a href ng-click="tab=3">Pending Tasks</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-md-7">
                <div class="container">
                    <table class="table tbl" cellpadding="0" cellspacing="0">
                        <tr ng-show="tasks.length >0">
                            <th>Task Description</th>
                            <th>Status</th>
                            <th colspan=2>Action</th>
                        </tr>

                        <tr ng-show="taskCtrl.tab(tab, task.taskStatus)"  ng-repeat="task in tasks">
                            <td class="col-md-3">{{task.taskDescription}}</td>
                            <td class="col-md-3">{{task.taskStatus}}</td>
                            <td><button class="btn btn-danger" ng-click="taskCtrl.deleteTask(task)">Delete</button></td>
                            <td><button class="btn btn-danger" ng-show="taskCtrl.isCompleted(task.taskStatus)" ng-click="taskCtrl.markComplete(task)">Mark Complete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <form novalidate ng-submit="taskCtrl.addTask()">
                    New Task <input type="text" ng-model="taskCtrl.task.taskDescription">
                    <input class="btn" type="submit" value="Add Task">
                </form> 
            </div>
        </div>

    </body>
</html>